<div class="container" id="filter-button">
    <button class="btn btn-primary-outline btn-block" type="button" id="filter-button">
        Filter Matches
    </button>
</div>

<div class="container" id="filter-section">


    <span id="section-title">Service Offerings</span>
    <hr id="section-line">
    <div class="row">

        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" id="sacheckbox"><span id="labelbox">S&A</span>
            </label>
        </div>
        <div class="col-sm" id="checkboxcat">
            <label class="checkbox-inline">
                <input type="checkbox" id="cmcheckbox"><span id="labelbox">C&M</span>
            </label>
        </div>

        <div class="col-sm" id="checkboxcat">
            <label class="checkbox-inline">
                <input type="checkbox" id="cbocheckbox"><span id="labelbox">CBO</span>
            </label>
        </div>
    </div>

        <div class="row speech-bubble" id="strategy-analytics-section">
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="sa-consulting" value="sa-consulting" id="sa-subcat"><span id="labelbox">Consulting</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="sa-analytics" value="sa-analytics" id="sa-subcat"><span id="labelbox">Analytics</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="sa-mergers" value="sa-mergers" id="sa-subcat"><span id="labelbox">M&A</span>
                </label>
            </div>
    </div>

        <div class="row speech-bubble" id="customer-marketing-section">
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="cm-csad" value="cm-csad" id="cm-subcat"><span id="labelbox">CSAD</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="cm-amc" value="cm-amc" id="cm-subcat"><span id="labelbox">AM&C</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="cm-dc" value="cm-dc" id="cm-subcat"><span id="labelbox">DC</span>
                </label>
            </div>
    </div>
    <div class="row speech-bubble" id="core-business-section">
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="cbo-operations" value="cbo-operations" id="cbo-subcat"><span id="labelbox">Operations Transformation</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="cbo-systems" value="cbo-systems" id="cbo-subcat"><span id="labelbox">Systems Engineering</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="cbo-cloud" value="cbo-cloud" id="cbo-subcat"><span id="labelbox">Cloud Engineering</span>
                </label>
            </div>
    </div>


    <div class="row">
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" id="epcheckbox"><span id="labelbox">EP</span>
            </label>
        </div>
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" id="hccheckbox"><span id="labelbox">HC</span>
            </label>
        </div>
        <div class="col-sm"></div>
    </div>

      <div class="row speech-bubble" id="human-capital-section">
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="hc-hr" value="hc-hr" id="hc-subcat"><span id="labelbox">HR Transformation</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="hc-ot" value="hc-ot" id="hc-subcat"><span id="labelbox">Organization Transformation</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="hc-cloud" value="hc-cloud" id="hc-subcat"><span id="labelbox">Workforce Transformation</span>
                </label>
            </div>
    </div>
      <div class="row speech-bubble" id="enterprise-performance-section">
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="ep-sap" value="ep-sap" id="ep-subcat"><span id="labelbox">SAP</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="ep-oracle" value="ep-oracle" id="ep-subcat"><span id="labelbox">Oracle</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="ep-supply" value="ep-supply" id="ep-subcat"><span id="labelbox">Supply Chain</span>
                </label>
            </div>
            <div class="col-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" checked="checked" name="ep-supply" value="ep-supply" id="ep-subcat"><span id="labelbox">ERP</span>
                </label>
            </div>
    </div>
    <div id="section-title" class="industries-title">Industries</div>
    <hr id="section-line">
    <div class="row">

        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" name="consumer" value="consumer"><span id="labelbox">Consumer</span>
            </label>
        </div>
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" name="fsi" value="fsi"><span id="labelbox">FSI</span>
            </label>
        </div>
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" name="eri" value="eri"><span id="labelbox">ERI</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" name="gps" value="gps"><span id="labelbox">GPS</span>
            </label>
        </div>
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" name="lshc" value="lshc"><span id="labelbox">LSHC</span>
            </label>
        </div>
        <div class="col-sm">
            <label class="checkbox-inline">
                <input type="checkbox" name="consumer" value="consumer"><span id="labelbox">TMT</span>
            </label>
        </div>


    </div>



</div>

<style>
    .btn-primary-outline {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
    }

    #filter-section {
        padding-bottom: 10px;
        margin-bottom: 20px;
        background-color: rgba(247, 246, 246, 0.85);
        border-radius: 10px;
        border-color: #fff;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 10px;
    }

    #filter-section .col-sm {
        padding-right: 0px;


    }

    #labelbox {
        margin-left: 10px;
        color: #000;
        font-size: 15px;
    }

    #section-title {
        color: #000;
        font-size: 15px;
    }
    .industries-title{
        margin-top:15px !important;
    }

    #section-line {
        margin-top: 0px;
        margin-bottom: 10px;
        border-color: #000;
    }

    #filter-button {
        margin-bottom: 10px;
    }


    .speech-bubble {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top:10px;
        padding-bottom: 10px;
        position: relative;
        background: #fff;
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom-color: #fff;
        border-top: 0;
        margin-left: -20px;
        margin-top: -20px;
    }
</style>

<script>

    $(document).ready(function () {
        $("#filter-section").hide(); //Hide filter options by default
        $("#strategy-analytics-section").hide();
        $("#customer-marketing-section").hide();
        $("#core-business-section").hide();
        $("#enterprise-performance-section").hide();
        $("#human-capital-section").hide();
    });


        $("#filter-button").click(function () {
            $("#filter-section").toggle();
        });

        $('#sacheckbox').click(function () {
             $(".speech-bubble").hide();
             if(this.checked) {
               $("#strategy-analytics-section").show();
            }else{
               {{!-- $('input#sa-subcat').each(function() {
                   console.log("uncheck")
                    $(this).prop('checked', false);
                }); --}}

                $('input#sa-subcat').prop('checked', false);
                                
                $("#strategy-analytics-section").hide();
            }
        });

        

              $('#cmcheckbox').click(function () {
             $(".speech-bubble").hide();
             if(this.checked) {
               $("#customer-marketing-section").show();
            }else{
                $("input#cm-subcat").prop( "checked", false ); //If uncheck main, uncheck sub checkboxes
                $("#customer-marketing-section").hide();
            }
        });

        
           $('#cbocheckbox').click(function () {
             $(".speech-bubble").hide();
             if(this.checked) {
               $("#core-business-section").show();
            }else{
                $("input#cbo-subcat").prop( "checked", false ); //If uncheck main, uncheck sub checkboxes
                $("#core-business-section").hide();
            }
        });


    $('#epcheckbox').click(function () {
             $(".speech-bubble").hide();
             if(this.checked) {
               $("#enterprise-performance-section").show();
            }else{
                $("input#ep-subcat").prop( "checked", false ); //If uncheck main, uncheck sub checkboxes
                $("#enterprise-performance-section").hide();
            }
        });

            $('#hccheckbox').click(function () {
             $(".speech-bubble").hide();
             if(this.checked) {
               $("#human-capital-section").show();
            }else{
                $("input#hc-subcat").prop( "checked", false ); //If uncheck main, uncheck sub checkboxes
                $("#human-capital-section").hide();
            }
        });




{{!-- 
    handleChildren = function () {
        var $checkbox = $(this);

        var $a = $checkbox.children().find("input[type=checkbox]");

        { { !-- debugger; --} }
        $a.each(function () {
            if ($checkbox.is(":checked")) {
                $(this).prop("checked", "checked");
            } else {
                $(this).removeProp("checked");
            }
        });
    };
    {
        {
            !--handleParents = function(current) {
                var $parent = $(current).closest(".children").find("> input[type=checkbox]");
                if ($parent.parent().find(".children input[type=checkbox]:checked").length > 0) {
                    if ($parent.parent().find(".children input[type=checkbox]:checked").length == $parent.parent().find(".children input[type=checkbox]").length) {
                        $parent.prop("indeterminate", false);
                        $parent.prop("checked", "checked");
                    } else {
                        $parent.prop("indeterminate", true);
                    }
                } else {
                    $parent.prop("indeterminate", false);
                    $parent.removeProp("checked");
                }
                handleParents($parent);
            } --}
    }

    $('#checkboxcat').find('input[type=checkbox]').each(function (index, input) {
        $(input).on('click', handleChildren);
        {
            {
                !--$(input).on('click', function () {
                    handleParents(this);
                }); --}
        }
    });



    $.fn.log = function () {
        console.log.apply(console, this);
        return this;
    }; --}}
</script>