<!DOCTYPE html>
<html lang="en">

<head>
    <title> Social Chats - AD Water Cooler Chats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-86402660-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-86402660-3');
</script>


</head>

<body>

    <div class="container-fluid container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="row">
            <div class="col-lg-6 row-eq-height">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" action="/results" method="post">
                        <span class="login100-form-logo">
                            <i class="fa fa-users"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            "Grab Coffee" with your friends and colleagues!
                        </span>
                        <p id="error-text"></p>

                        <div class="wrap-input100 validate-input" data-validate="Enter Your Full Name">
                            <input class="input100" type="text" name="name" placeholder="Your Full Name">
                            <span class="focus-input100" data-placeholder="&#xf007;"></span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Enter Your Email">
                            <input class="input100" type="text" name="email" placeholder="Your Email"
                                onfocusout="validateEmail(email)">
                            <span class="focus-input100" data-placeholder="&#xf0e0;"></span>
                        </div>
                        <div class="contact100-form-checkbox">
                            <p id="minutes-text">How many minutes are you available for?</p>
                            <input placeholder="Minutes" name="minutes" required type="number" value="" min="00"
                                max="1000" />
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="submit-button">
                                Socialize!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 row-eq-height section-two" >
                <div class="wrap-login100">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Social Chats?
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Miss the casual conversations in the office? Stuck at home with little to no
                                    socializing? Social Chats was built to seamlessly pair you with one or more of
                                    your colleagues to casually chat, catch up, and network! Enter your name, email and
                                    how many minutes you are free and if anyone else is free during the same time, you
                                    will both receive an email notifying you of the mutual availability. <br> <br>
                                    What other solutions are out there? An open Zoom call or a Teams channel are also
                                    solutions, however, frequently individuals log onto these calls when no one else is
                                    in attendance. Additionally, a Teams channel can quickly lead to an abundance of
                                    distracting notifications—instead only get notified when you have a match!

                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Who can use the service?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Right now, the service is being piloted wihtin Applied Design. As we build and scale
                                    the platform, additional Deloitte practioners will gain access. Additionally, in the
                                    future you'll be able to select groups (e.g. RCP, LSHC) in which to network. If you are part of Applied Design and do not have access please ping me at Aargold@Deloitte.com</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Questions, Feedback, or Concerns?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    If you have any questions, feedback, bugs, or concerns, please ping me on teams. My
                                    email is Aargold@Deloitte.com. This app has no connection to Deloitte, but was
                                    developed in my free time to help counteract the negative social affects of
                                    COVID-19. The project code and upcoming features can be found here on <a href="https://github.com/aharonhillel/zoomdb/">Github</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->

    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="vendor/bootstrap-input-spinner.js"></script>
    <script>
        $("input[type='number']").inputSpinner();
    </script>

    <script>
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            //Email valid. Procees to test if it's from the right domain (Second argument is to check that the string ENDS with this domain, and that it doesn't just contain it)
            if (email.value.toLowerCase().includes("@deloitte.com") || email.value.toLowerCase().includes("@aaronhgold.com")) {
                document.getElementById("error-text").innerHTML = "";
                const button = document.getElementById('submit-button')
                button.disabled = false;
            } else {
                document.getElementById("error-text").innerHTML = "<span style='padding-bottom:20px'>Error: Please enter a Deloitte email address </span>";
                const button = document.getElementById('submit-button')
                button.disabled = true;
            }
        }
    </script>
</body>

</html>
